<div itemscope itemtype="http://schema.org/Blog">
{{range $k, $v := .list}}
<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">
		<time datetime="{{$v.PostTime}}" data-updated="true" itemprop="datePublished">{{date $v.PostTime "M j"}}<span>th</span>, {{date $v.PostTime "Y"}}</time>
		</div>
		<div class="tags">{{str2html $v.TagsLink}}</div>
	</div>
	<h1 class="title" itemprop="name">
	<a href="{{$v.Link}}" itemprop="url">{{str2html $v.ColorTitle}}</a>
	</h1>
	<div class="entry-content" itemprop="articleBody">
	{{str2html $v.Excerpt}}
	</div>
</article>
{{end}}
</div>

<nav id="pagenavi">
	{{str2html .pagebar}}
</nav>