@CHARSET "UTF-8";

body {background:#fff;}
a {color:#2277AA;}
a:hover {color:#DC6C31; text-decoration:none;}
ul {list-style:none;}
select {font-size: 12px; margin: 0;}

.header {
	background:#464646 url('../img/top-bg.png') repeat-x;
	color:#fff;
	height:41px; 
	margin-bottom:10px
}
.header h1 {margin:0; padding:0; font-size:24px;text-shadow:1px 1px 0 #000;}
.header h1 span {color:#f0f0f0; font-size:12px; font-weight: normal;margin-left: 50px;line-height: 41px}
.header a {color:#f0f0f0;}
.header a:hover {color: yellow;}
.header i {color: #666}

.main {background:#fff}

.footer {border-top:1px solid #eee; text-align:center; font-size:12px; padding:10px 0;}

.page-content *, label {font-size:12px !important;}
.page-content {
	margin-left: 150px; 
	margin-top: 0px;
	padding: 0px;
	background-color: #fff; 
	min-height:600px;
}

.table {font-size:12px}
.table-list tbody tr:hover>td,.table-hover tbody tr:hover>th{background-color:#FBFFE4}
.table-list {border:1px solid #ddd; border-collapse:separate}
.table-list td {padding:5px;}
.table-list th {
	background:#EEF3F7 url('../img/menu-bg.png') 0 -3px repeat-x;
	font-weight:normal;
	font-size:13px;
	padding:0 5px;
	line-height:28px;
}
.table-list tfoot, .table-form tfoot {background:#f9f9f9}
.table-form td, .table-form th {border:none; padding:5px; line-height:180%;}
.table-form th {text-align:right; font-weight:normal; color:#333}
.table-form td input {margin: 0}

.pagination {margin:0;}

.search-form {border:1px solid #FBEED5; background:#FCF8E3; padding:5px; margin:5px 0}
.search-form form {margin:0}

.toolbar {margin-bottom:10px;font-size:12px}
.toolbar a {line-height:35px;}
.toolbar a:hover {text-decoration:none;}
.toolbar .active {background:#498CD0; color:#fff; padding:3px 10px; -moz-border-radius: 2px;-webkit-border-radius: 2px;-khtml-border-radius: 2px;border-radius: 2px; }
.toolbar .divider {color:#ccc; margin:0 5px}
